<%- include("../../partials/admin/sidebar",{ activePage: activePage }) %>
  <%- include("../../partials/admin/header",{ user: user, pageTitle: 'Dashboard' }) %>
    <%- include("../../partials/user/messages") %>

<main class="main-shift" role="main" style="padding:20px;">
  <h3 style="margin-right: 5rem;"> Dashboard </h3>
  <!-- your dashboard content -->
</main>